/* Basic page styling */
body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(203, 172, 110, 0.6);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#game-container {
    /* background: white; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(240, 230, 210, 0.1);
    text-align: center;
    
    background: rgba(250, 245, 235, .6);
    background: rgb(240, 230, 210);
}

.instructions {
    max-width: 450px;
    margin: 20px 0;
    padding: 15px;
    background: #e3f2fd;
    border-radius: 5px;
    text-align: left;
    display: none;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: #2196F3;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #1976D2;
}

/* Hex grid container */
#hex-grid {
    position: relative;
    max-width: 800px;
    aspect-ratio: 1/1; /* Adjusted for hexagonal grid */
    margin: 20px auto;
    background: rgba(250, 245, 235, .8); 
    border: 2px solid rgba(201, 187, 157, 0.212);
    border-radius: 10px;
    box-sizing: border-box;
}

#hex-grid .hex-cell-container {
    position: absolute;
    padding: 2px;
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
}

#hex-grid .hex-cell-container .game-cell {
    width: 100%;
    height: 100%;
    color: rgb(240, 225, 200);
    /* color: rgb(254, 247, 206); */
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

#hex-grid .hex-cell-container .cell-clue {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    color: #ffffff;
    font-weight:bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*** Developoment Styles (only for development mode **/

.ring-container {
    position:absolute;
    aspect-ratio: 1 / 1;
    top: 0;
    left: 0;
    bottom: 0;  
    right: 0;
}

.ring-container .grid-ring {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;  
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid rgba(118, 164, 228, 1);
    aspect-ratio: 1 / 1; /* Ensures circular shape */
}


.test-colors {
    color: rgb(93, 0, 255);
    color: rgb(255, 166, 0);
    color: rgb(255, 0, 153);
}